.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* background-image: url("./fondo-detail.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
}
