.Card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgb(58, 57, 57);
  overflow: hidden;
  margin: 25px;
  text-align: center;
  transition: all 0.25s;

  border: solid 2px black;
  background-color: #686868;
}
