.Card {
  width: 330px;
  height: 450px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgb(73, 73, 73);
  overflow: hidden;
  margin: 35px;
  text-align: center;
  transition: all 0.25s;
  border: solid 2px black;
  opacity: 0.8;
  background-color: aliceblue;
}
.Card:hover {
  transform: translateY(-15);
  box-shadow: 0 12px 16px rgb(41, 41, 41);
  margin: 0%;
  padding: 0%;
}

.name {
  color: rgb(0, 0, 0);
  padding: 15px;
  font-size: 25px;
  font-weight: 800;
}

.img {
  padding: 10px;
}
.types {
  padding-top: 10px;
  font-weight: 600;
  font-size: 16px;
}
.attack {
  font-weight: 600;
  font-size: 16px;
}

.button {
  margin: 20px;
  background-color: #9b9292;
  padding: 10px;
  border-radius: 15px;
  color: rgb(2, 2, 2);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  color: white;
  background-color: black;
  transition: all 0.5s ease;
}
