.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  min-height: calc(114vh - 88px);
  background-color: red;
  height: 937px;
  background-size: 100% 100%;
}
